<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Kamaa Blogs | <%- About %></title>
    
</head>


<body>
    <nav class="nav">
        <div class="title">
            <a href="/" style="font-size:1cm;">Trending Blogs</a>
            <p>A Gossip blog site</p>
        </div>
        <ul>
            <li><a href="/">Blogs</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/blogs/create">New Blog</a></li>
           
        </ul>
    </nav>
    <div class="blog-content">
        <h2>All Blogs</h2>
    </div>

    <div class="about content">
        <h2>About us</h2>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Minus, corporis?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam, harum.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam, harum.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam, harum.</p>

    </div>
    <footer>
        Copyright &copy: Kamaa Blogs 2023
    </footer>
</body>
</html>